.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    // position: static;
    width: 100%;
    color: #000;
    height: 50px;
    z-index: 12;
        &-container {
            display: flex;
            justify-content: space-between;
            height: 64px;
            align-items: center;
    }
}

.menu-items {
    order: 2;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
        & li {
            list-style: none;
            margin-left: -13px;
            margin-bottom: 0.5rem;
            font-size: 21px;
            font-weight: 400;
        } 
        & li:nth-child(1) a {
            color: #57A4A4;
                :hover {
                    background-color: #444;
                }
        }
        & a {
            font-family: Roboto;
            text-decoration: none;
            color: #444;
            font-size: 15px;
            font-weight: 400;
            transition: color 0.3s ease-in-out;
            :hover {
                color: #000000;
                transition: color 0.3s ease-in-out;
            }
        }
}

@media screen and (max-width: 767px) {
    .navbar {
        position: absolute;
        box-shadow: none;
        &-container {
            height: max-content;
        }
    }

    .menu-items {
        display: none;
        flex-direction: column;
        background-color: #F5F5F5;
        position: absolute;
        top: 0;
        right: 0;
        height: 0;
        transition: transform 0.5s all;
        transform: translateY(0);
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        top: -60px;
        right: 20px;
        width: 50px;
        height: 32px;
        opacity: 0;
        z-index: 1;
    }
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: flex;
    }
    .hamburger-lines {
        position: absolute;
        top: -60px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 37px;
        border: 1px solid black;
        background-color: black;


        & .line{
            width: 17px;
            height: 2px;
            margin: 2px;
            background-color: white;
            display: block;
            transition: 0.5s all;
        }
    }
    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        display: flex;
        position: absolute;
        top: -23px;
        right: 20px;
        width: 182px;
        margin: 0 auto;
        overflow: hidden;
        transition: 0.5s all;
        transform: translateY(0);
        height: 250px;
    }
    
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        display: none;
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg) translate(0px, 1px);
        background-color: white;
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg) translate(3px, -4px);
        background-color: white;
    }
}

@media screen and (max-width: 1199px) {
    .menu-items {
        height: auto;
        position: absolute;
        top: 0;
        margin-left: -12px;
        margin-top: 50px;
        transition: transform 0.5s all;
        transform: translateY(0);
    }
}

@media screen and (min-width: 1200px) {
    .menu-items {
        width: 1200px;
        height: auto;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        white-space: nowrap;
    }
    
    .menu-items li {
        display: inline-block;
        margin-right: 20px;
        padding: 0; 
    }
}