.inst-section {
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 47px;
    margin-top: 60px;
}

.inst-section__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}
.inst-section__link {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.inst-section__text p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(78, 78, 78);
    letter-spacing: 1px;
}
.inst-section__text p::before {
    content: "- ";
}
.inst-section__text a {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(78, 78, 78);
    letter-spacing: 1px;
    font-size: 12px;
    text-decoration: none;
}
.inst-section__text a::before {
    content: "- ";
} 
.inst-section__text a::before {
    content: "";
}
.inst-section__text a::after {
    content: " -";
}

.inst-section__photos {
    font-size: 0;
    padding-bottom: 50px;
}
.inst-section__photos img {
    display: inline-block;
    width: 285px;
    height: 285px;
    margin-right: 10px;
}
.inst-section__photos img:last-child {
    margin-right: 0px;
}

@media (max-width: 767px) {
    .wrapper {
        margin: 0 auto;
        max-width: 768px;
    }
    .inst-section__title {
        margin-left: 5%;
        
    }
    .inst-section {
        padding-top: 38px;
    }
    .inst-section__text {
        margin-bottom: 13px;

        & p {
            font-size: 14px;
        }
        & a {
            display: none;
        }
    }
    .inst-section {
        background-color: transparent;
    }
    .inst-section__photos {
        & img:nth-child(2) {
            display: none;
        }
        & img:nth-child(3) {
            display: none;
        }
    }
}

@media (max-width: 1199px) {
    .inst-section {
        text-align: center;
    }

    .wrapper {
        margin: 0 auto;
        max-width: 768px;
    }

    .inst-section__photos {
        & img {
            display: inline-block;
            max-width: 249px;
            max-height: 249px;
            margin-right: 9px;
        }

        & img:nth-child(3) {
            margin-right: 0px;
        }

        & img:last-child {
            display: none;
        }
    }
}

@media (min-width: 1200px) {
    .inst-section {
        display: flex;
        justify-content: center;
    }
    
    .wrapper {
        max-width: 1200px;
    }
}