.recent {
    margin-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2%;

        &__h1 {
            display: flex;
            align-items: flex-start;
            color: #4E4E4E;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__imgs-text {
            display: flex;
            flex-wrap: wrap;
        }
        &__img {
            margin: 23px 20px 0 0;
            width: 160px;
            height: 140px;
        }
        &__text {
            display: flex;
            flex-wrap: wrap;
        }
        &__textOne {
            color: #4E4E4E;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 700;
            margin-top: 11px;
        }
        &__textTwo {
            color: #7C7C7C;
            font-family: Roboto;
            font-size: 11px;
            font-weight: 400;
            margin-top: 10px;
        }
        &__textThree {
            color: #5C5C5C;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            width: 404px;
            margin-top: 13px;
        }
}

@media screen and (max-width: 767px) {
    .recent {
        margin-left: 5%;

        &__imgs-text {
            display: flex;
            flex-direction: column;
        }
        &__text {
            display: flex;
            flex-direction: column;
        }
        &__textOne,
        &__textTwo {
            flex: 0;
        }
        &__textThree {
            display: none;
            flex: 0;
            width: 0;
        }
    }
}

@media screen and (max-width: 1199px) {
        .recent {
            margin-left: 5%;

            &__imgs-text {
                flex-wrap: nowrap;
            }
            &__text {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
            }
            &__img {
                flex: 1;
                margin-right: 20px;
            }
            &__text {
                flex: 2;
                padding-left: 0;
            }
        }
}

@media screen and (min-width: 1200px) {
    
    .recet__all-img-text {
        position: relative;
    }

    .recent__h1 {
        position: absolute;
        top: -15px;
    }

    .recent__textColumn {
        margin-top: 20px;
    }

    .recent__textThree {
        margin-top: -40px;
    }

    .recet__all-img-text {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 24px;
    }
    
    .recent__imgs-text {
        width: 50%;
        box-sizing: border-box;
    }
    
    .recent__img {
        float: left;
        margin-right: 10px;
    }
    
    .recent__text {
        flex: 1;
    }
    
    .recent__img {
        max-width: 100%;
        height: auto;
    }
}